body{
    margin: 200px 400px 1px 400px;
    background-image: url(./marvel.webp);
}
h2{
    background-color:blue;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    
}
h3{
    color: white;
    display:flex;
    justify-content: center;
}
.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
     justify-content:space-around;
     background: red;}